---
- name: import artifactory file
  import_playbook: ../static-assignments/artifactory.yml
  tags:
    - always

- name: import webservers file
  import_playbook: ../static-assignments/uat-webservers.yml

- name: import database file
  import_playbook: ../static-assignments/db.yml

    

#- name: import common file
#  import_playbook: ../static-assignments/common.yml
#  tags:
 #   - always

#- name: include env-vars file
#  import_playbook: ../dynamic-assignments/env-vars.yml
 # tags:
  #  - always

#- name: import database file
 # import_playbook: ../static-assignments/db.yml

#- name: import webservers file
 # import_playbook: ../static-assignments/uat-webservers.yml

#- name: import Loadbalancers assignment
 # import_playbook: ../static-assignments/lb.yml
  #when: load_balancer_is_required 

















#- hosts: all
#- name: Include dynamic variables 
  #include: ../dynamic-assignments/env-vars.yml
  #tags:
   # - always


#- hosts: uat-webservers
#- import_playbook: ../static-assignments/uat-webservers.yml







#tasks:
  #import_playbook: ../static-assignments/common.yml 


#- hosts: webservers
#- name: Webserver assignment
#  import_playbook: ../static-assignments/webservers.yml

#- hosts: all
#- import_playbook: ../static-assignments/common.yml

#- hosts: uat-webservers
#- import_playbook: ../static-assignments/uat-webservers.yml
